<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>回调</title>
</head>
<body>
    <p>access_token:<%-access_token%></p>
    <p>remind_in:<%-remind_in%></p>
    <p>expires_in:<%-expires_in%></p>
    <p>uid:<%-uid%></p>
    <p>refresh_token:<%-refresh_token%>   新浪一般不给</p>
    <p><a href="/send">发条微博看一下</a></p>
</body>
</html>
